/* Common Styles */
body {
    background-color: #201E1A;
}
/* .col-sm-12{
    width: 100% !important;
} */

a {
    text-decoration: none;
}

ul {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

:root {
    --theme: #8c7258;
    --blur: 10px;
}

.logo-wrap img {
    width: 150px;
}

/* header section */
.header-wrapper {
    background-color: #000;
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    z-index: 99;
}

.menu {
    list-style: none;
}

.menu li {
    list-style: none;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

/* home section */
.home-wrap {
    padding-top: 200px;
}

.home-wrap h1 {
    color: var(--theme);
    font-size: 54px;
    line-height: 62px;
    font-weight: 700;
}

.home-wrap h1 span {
    color: #fff;
}

.home-wrap p {
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;

}

.home-wrap a {
    display: inline-block;
    color: var(--theme);
    border: 1px solid var(--theme);
    padding: 15px 30px;
    transition: .2s;
}

.home-wrap a:hover {
    color: #fff;
    background-color: var(--theme);
}

.home-wrap img {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.home-wrap .col-sm-12 p{
    padding: 10px 0px;
}

.intermediate-wrap li {

    list-style: none;
    width: 33%;
    
}

.intermediate-wrap ul {
    
    padding: 5vw 0vw;
    align-items: center;


}

.intermediate-wrap {
    background-color: #8c7258;
    /* margin-bottom: 10vh; */
}

.intermediate-wrap img{
    width: 100%;
    padding: 20px;
}

.about-wrap h2 {
    color: #8c7258;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.about-wrap p {
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;

    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.about-wrap img {
    width: 100%;

    margin-bottom: 15px;
}

.about-wrap {
    padding-top: 100px;
    margin-bottom: 100px;
}

.intermediate-1-wrap{
    padding-bottom: 100px;
}
.intermediate-1-wrap h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 46px;
    color: #fff;
}

.intermediate-1-wrap p {
    color: #bfbfbf;
    font-weight: 500;
    position: relative;
    top: -12px;
}

.intermediate-1-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .intermediate-1-content-section-1-wrap {
    margin-bottom: 60px;
} */

.intermediate-1-wrap img {
    width: 40px;

}

/* .intermediate-1-wrap {
    margin-bottom: 10vh;
} */

.project-wrap h2 {

    color: #8c7258;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.project-wrap p {
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;

    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.project-wrap a {
    display: inline-block;
    color: var(--theme);
    border: 1px solid var(--theme);
    padding: 15px 30px;
    transition: .2s;
}

.project-wrap a:hover {
    color: #fff;
    background-color: var(--theme);
}

.project-wrap img {
    width: 100%;
    padding: 15px;
    background: #0000;
}

.project-wrap-content-1 {
    margin-top: 40px;
}

.project-wrap {
    /* padding-top: 100px; */
    margin-bottom: 100px;
}



/* Slider Section Styles Starts*/

.slider-wrap .slick-slide {
    height: auto !important;
}

.slider-wrap {

    background-color: #24231e;
    
    padding: 40px;
    width: 100%;

}

.slider-wrap p {
    color: #8c7258 !important;
    margin: 5px 0;
    line-height: 28px;
    letter-spacing: 0.5px;

    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    padding: 0px 7vw;
}

.slider-wrap h5 {
    color: #fff;
    font-size: 16;
    margin: auto;
    margin-bottom: 5px;

}

.slider-wrap h6 {
    font-size: 14;
    color: #bfbfbf;
    margin: auto;

}

/* Slider Section Styles Ends*/
.intermediate-3-wrap{
    padding-top: 100px;
}

.intermediate-3-wrap h2 {
    color: #8c7258;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
}

.intermediate-3-wrap h1 {
    color: #8c7258;
    font-size: 55px;
    font-weight: 700;
    line-height: 40px;
    padding: 30px 0px;
}

.intermediate-3-wrap h5 {
    color: #fff;
}

.intermediate-3-wrap p {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 16;
}

.intermediate-3-content-wrap {
    padding: 40px;
}

.footer-wrap {
    background-color: #000000;
    padding: 80px 0px 0px 0px;
}

.contact-wrap {
    background-color: #24231e;
    padding: 40px;
}

.contact-wrap h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 15px;
    padding-right: 20px;
}

.Contact-wrap a {
    display: inline-block;
    color: var(--theme);
    border: 1px solid var(--theme);
    padding: 15px 30px;
    transition: .2s;
}

.Contact-wrap a:hover {
    color: #fff;
    background-color: var(--theme);
}

.Contact-wrap {
    margin-bottom: 80px;
}

.footer-wrap-logo img {
    width: 140px;
    margin-bottom: 10px;
}

.footer-wrap-data-social-media-icons img {
    width: 24px;
    border: .6px solid var(--theme);
    border-radius: 100%;
    padding: 5px;

}

.footer-wrap-data-social-media-icons {
    width: 140px;
}

.footer-wrap-data-social-media-icons a:hover {
    color: #fff;
}

.footer-wrap-links {
    color: #fff;
}

.footer-wrap-links h5 {
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-wrap-links p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

.footer-wrap-links a {
    color: #fff;
}

.footer-wrap-links a:hover {
    color: #8c7258;
}

.contact-wrap-details {
    color: #fff;
}

.contact-wrap-details h5 {
    margin-bottom: 30px;
    font-weight: 600;
}

.contact-wrap-details img {
    width: 20px;
    margin-right: 10px;
    height: 20px;
}

.contact-wrap-details p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;

}

.footer-wrap-data {
    margin-bottom: 80px;
}

.footer-wrap-map {
    margin-top: 20px;
}

.footer-wrap-copyright p {
    color: #bfbfbf;
    font-weight: 300;
}

.footer-wrap-map iframe{
    height: 20vh;
    width: 30vw;
}




/* The Modal (background) */
#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    z-index: 99;
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
#image-viewer .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}