/* Common Styles */
body{
    background-color: #201E1A;
}
a{
    text-decoration: none;
}

ul{
    margin: 0 !important;
}
.nopadding{
    padding: 0 !important;
}
.nomargin{
    margin: 0 !important;
}

:root {
    --theme: #8c7258;
    --blur: 10px;
  }
.logo-wrap img {
    width: 150px;
}
/* header section */
.header-wrapper{
    background-color: #000;
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    z-index: 99;
}
.menu{
    list-style: none;
}
.menu li{
    list-style: none;
    margin-right: 20px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

/* home section */
.home-wrap{
    padding-top: 25vh;
}
.home-wrap h1{
    color: var(--theme);
    font-size: 54px;
    line-height: 62px;
    font-weight: 700;
}

.home-wrap h1 span{
    color: #fff;
}
.home-wrap p{
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;

}
.home-wrap a {
    display: inline-block;
    color: var(--theme);
    border: 1px solid var(--theme);
    padding: 15px 30px;
    transition: .2s;
}
.home-wrap a:hover{
    color: #fff;
    background-color: var(--theme);
}
.home-wrap img{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
}
.intermediate-wrap li{

list-style: none;


}
.intermediate-wrap ul{
   
    padding: 9vh 0vh;
    align-items: center;
   
}
.intermediate-wrap{
    background-color: #8c7258;
    margin-bottom: 10vh;
}
.about-wrap h2{
    color: #8c7258;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}
.about-wrap p{
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;
    
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}
.about-wrap img{
    width: 100%;
    margin-bottom: 15px;
}
.about-wrap{
    margin-bottom: 10vh;
}

.intermediate-1-wrap h5{

    font-size: 22px;
    font-weight: 600;
    line-height: 46px;
    color: #fff;
}
.intermediate-1-wrap p{
    color: #bfbfbf;
    font-weight: 500;
    position: relative;
    top: -12px;
}
.intermediate-1-content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intermediate-1-content-section-1-wrap{
    margin-bottom: 60px;
}
.intermediate-1-wrap img{
    width: 40px;
    
}
.intermediate-1-wrap{
    margin-bottom: 10vh;
}
.project-wrap h2{

    color: #8c7258;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}
.project-wrap p{
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #fff;
    
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}
.project-wrap a {
    display: inline-block;
    color: var(--theme);
    border: 1px solid var(--theme);
    padding: 15px 30px;
    transition: .2s;
}
.project-wrap a:hover{
    color: #fff;
    background-color: var(--theme);
}

.project-wrap img{
    width: 100%;
    padding: 15px;
}
.project-wrap-content-1{
    margin-top: 40px;
}
.project-wrap{
    margin-bottom: 10vh;
}
.intermediate-2-wrap{

    background-color: #24231e;
    margin-bottom: 10vh;
    padding: 40px;
    margin-bottom: 10vh;

  
}

.intermediate-2-wrap p{
    color: #8c7258;
    margin: 5px 0;
    line-height: 28px;
    letter-spacing: 0.5px;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
.intermediate-2-wrap h5{
    color: #fff;
    margin: auto;
}
.intermediate-2-wrap{
    color: #bfbfbf;
}
.intermediate-3-wrap h2{
color: #8c7258;
font-size: 42px;
font-weight: 700;
line-height: 40px;
margin-bottom: 15px;
}
.intermediate-3-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
