

@media(max-width: 1024px)  {
    .Contact-wrap {
        flex-wrap: wrap;
    }
}

@media(max-width: 768px)  {
    .intermediate-wrap ul {
       flex-wrap: wrap;
    }
    .Contact-wrap {
        flex-wrap: wrap;
    }
}

@media(max-width: 575px)  {
    .intermediate-1-content-wrap{
        width: 50% !important;
    }
}







